<div class="body">

    <!-- header -->
    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">

                            <!-- header nav -->
                            <ul class="header__nav" [class.header__nav--active]="MenuBtn">

                                <li class="header__nav-item">
                                    <a class="header__nav-link" href="./Main/movie" role="button">Home</a>
                                </li>
                                <li class="header__nav-item">
                                    <a class=" header__nav-link" href="./Main/catalog" role="button">Catalog</a>
                                </li>
                                <li *ngIf="LoggedIn" class="header__nav-item ">
                                    <a class=" header__nav-link " href="# " role="button">Profile</a>
                                </li>





                            </ul>
                            <!-- end header nav -->

                            <!-- header auth -->
                            <div class="header__auth ">
                                <button class="header__search-btn " [class.active]="SearchBtn " (click)="SearchClick() " type="button ">
									<i class="icon ion-ios-search "></i>
								</button>

                                <a *ngIf="!LoggedIn" href="account/login " class="header__sign-in ">
                                    <i class="icon ion-ios-log-in "></i>
                                    <span>sign in</span>
                                </a>
                                <a *ngIf="LoggedIn" href="./Main/movie " (click)="SignOut()" class="header__sign-in ">
                                    <i class="icon ion-ios-log-in "></i>
                                    <span>sign out</span>
                                </a>
                            </div>
                            <!-- end header auth -->

                            <!-- header menu btn -->
                            <button class="header__btn " [class.header__btn--active]="MenuBtn " (click)="MenuClick() " type="button ">
								<span></span>
								<span></span>
								<span></span>
							</button>
                            <!-- end header menu btn -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header search -->
        <div action="# " class="header__search " [class.header__search--active]="SearchBtn ">
            <div class="container ">
                <div class="row ">
                    <div class="col-12 ">
                        <div class="header__search-content ">
                            <input type="text" name="Stext" [(ngModel)]="Stext" placeholder="Search for a movie that you are looking for ">

                            <button type="button" (click)="Search()">search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header search -->

    </header>
    <!-- end header -->





    <div style="background-color: #2b2b31; ">

        <router-outlet>

        </router-outlet>
    </div>


    <!-- footer -->
    <footer class="footer ">
        <div class="container ">
            <div class="row ">
                <!-- footer list -->
                <div class="col-12 col-md-3 ">
                    <h6 class="footer__title ">Download Our App</h6>
                    <ul class="footer__app ">
                        <li>
                            <a href="# "><img src="../../assets/img/Download_on_the_App_Store_Badge.svg " alt=" "></a>
                        </li>
                        <li>
                            <a href="# "><img src="../../assets/img/google-play-badge.png " alt=" "></a>
                        </li>
                    </ul>
                </div>
                <!-- end footer list -->



                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3 ">
                    <h6 class="footer__title ">Contact</h6>
                    <ul class="footer__list ">
                        <li><a href="# ">Omar ahmad</a></li>
                        <li><a href="tel:+18002345678 ">+96171992939</a></li>
                        <li><a href="mailto:support@moviego.com ">omaharmad@gmail.com</a></li>
                    </ul>
                    <ul class="footer__social ">
                        <li class="facebook "><a href="# "><i class="icon ion-logo-facebook "></i></a></li>
                        <li class="instagram "><a href="# "><i class="icon ion-logo-instagram "></i></a></li>
                        <li class="twitter "><a href="# "><i class="icon ion-logo-twitter "></i></a></li>
                        <li class="vk "><a href="# "><i class="icon ion-logo-vk "></i></a></li>
                    </ul>
                </div>
                <!-- end footer list -->

                <div class="col-12 col-sm-4 col-md-3 ">
                    <h6 class="footer__title ">Contact</h6>
                    <ul class="footer__list ">
                        <li><a href="# ">Mohamad dabbousi</a></li>
                        <li><a href="tel:+18002345678 ">+96171992939</a></li>
                        <li><a href="mailto:support@moviego.com ">omaharmad@gmail.com</a></li>
                    </ul>
                    <ul class="footer__social ">
                        <li class="facebook "><a href="# "><i class="icon ion-logo-facebook "></i></a></li>
                        <li class="instagram "><a href="# "><i class="icon ion-logo-instagram "></i></a></li>
                        <li class="twitter "><a href="# "><i class="icon ion-logo-twitter "></i></a></li>
                        <li class="vk "><a href="# "><i class="icon ion-logo-vk "></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <!-- end header-->



</div>