<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Catalog grid</h2>
                    <!-- end section title -->

                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="#">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Catalog grid</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- filter -->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filter__content">
                    <div class="filter__items">
                        <!-- filter item -->
                        <div class="filter__item" id="filter__genre">
                            <span class="filter__item-label">GENRE:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" name="genre" [(ngModel)]="Genre" value="Action/Adventure" #genre>
                                <span></span>
                            </div>


                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                <perfect-scrollbar style="height: 150px;">
                                    <li *ngFor="let genre of Genres" (click)="ClickGenre($event)">{{genre}}</li>
                                </perfect-scrollbar>
                            </ul>


                        </div>
                        <!-- end filter item -->



                        <!-- filter item -->
                        <div class="filter__item" id="filter__rate">
                            <span class="filter__item-label">IMBd:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" name="rating" [(ngModel)]="Rating" value="Action/Adventure">
                                <span></span>
                            </div>


                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                <perfect-scrollbar style="height: 150px;">
                                    <li (click)="Clickrating($event)">4-5</li>
                                    <li (click)="Clickrating($event)">3-4</li>
                                    <li (click)="Clickrating($event)">2-3</li>
                                    <li (click)="Clickrating($event)">1-2</li>

                                </perfect-scrollbar>
                            </ul>
                        </div>
                        <!-- end filter item -->

                        <!-- filter item -->
                        <div class="filter__item" id="filter__year">
                            <span class="filter__item-label">RELEASE YEAR:</span>

                            <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <input type="button" name="rating" [(ngModel)]="Releaseyear" value="Action/Adventure">
                                <span></span>
                            </div>


                            <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                                <perfect-scrollbar style="height: 150px;">
                                    <li (click)="Clickreleaseyear($event)">2020</li>
                                    <li (click)="Clickreleaseyear($event)">2019</li>
                                </perfect-scrollbar>
                            </ul>
                        </div>
                        <!-- end filter item -->


                    </div>

                    <!-- filter btn -->
                    <button class="filter__btn" type="button" (click)="ApplyFilter()">apply filter</button>
                    <!-- end filter btn -->


                </div>
            </div>
        </div>
    </div>
</div>
<!-- end filter -->

<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <!-- card -->
            <div *ngFor="let mov of FilteredMovies" class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="{{mov.url}}" alt="">
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="#">{{mov.title}}</a></h3>
                        <span class="card__category">
								<a *ngFor="let cat of mov.category" href="#">{{cat}}</a>
							</span>
                        <span class="card__rate"> {{mov.rating}} &nbsp;&nbsp;&nbsp;<i class="icon ion-ios-star"></i></span>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <!-- paginator -->
            <div class="col-12">
                <ul class="paginator">
                    <li class="paginator__item paginator__item--prev">
                        <div class="paginator__itema" (click)="previous()"><i class="icon ion-ios-arrow-back"></i></div>
                    </li>

                    <li id="1" id="t1" class="paginator__item">
                        <div class="paginator__itema" [innerHTML]="cursor[0]"></div>
                    </li>
                    <li id="2" id="t2" class="paginator__item">
                        <div class="paginator__itema" [innerHTML]="cursor[1]"></div>
                    </li>
                    <li id="3" id="t3" class="paginator__item">
                        <div class="paginator__itema" [innerHTML]="cursor[2]"></div>
                    </li>
                    <li id="4" id="t4" class="paginator__item">
                        <div class="paginator__itema" [innerHTML]="cursor[3]"></div>
                    </li>

                    <li class="paginator__item paginator__item--next">
                        <div class="paginator__itema"><i (click)="next()" class="icon ion-ios-arrow-forward"></i></div>
                    </li>
                </ul>
            </div>

            <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end catalog -->