<!-- content -->
<section class="content">

    <div style="height: 140px;"></div>
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- content title -->
                    <h2 class="content__title">Search</h2>
                    <!-- end content title -->

                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <!-- content tabs -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel">

                <div class="row">

                    <!-- card -->
                    <div *ngFor="let mov of Search" class="col-6 col-sm-12 col-lg-6">
                        <div (click)="Select(mov.id)" class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="{{mov.url}}" alt="">
                                        <a href="#" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title"><a href="#">{{mov.title}}</a></h3>
                                        <span class="card__category">
                                                <a *ngFor="let cat of mov.category" href="#">{{cat}}</a>
                                                
                                            </span>

                                        <div class="card__wrap">
                                            <span class="card__rate"><i class="icon ion-ios-star"></i>{{mov.rating}}</span>


                                        </div>

                                        <div class="card__description">
                                            <p>{{mov.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>






        </div>
        <!-- end content tabs -->
    </div>

</section>
<!-- end content -->