<section class="section details">

    <div style="height: 70px;"></div>
    <!-- details content -->
    <div class="container" style="margin-bottom: 50px;">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <h1 class="details__title">{{movie.title}}</h1>
            </div>
            <!-- end title -->

            <!-- content -->
            <div class="col-12">
                <div class="card card--details">
                    <div class="row">
                        <!-- card cover -->
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="{{movie.url}}" alt="">
                            </div>
                        </div>
                        <!-- end card cover -->

                        <!-- card content -->
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <div *ngIf="LoggedIn" class="card__wrap">
                                    <span class="card__rate1" id="star1" (click)="starclick(1)" (mouseenter)="starhover(1)" (mouseleave)="starleave()"><i class="icon ion-ios-star"></i></span>
                                    <span class="card__rate1" id="star2" (click)="starclick(2)" (mouseenter)="starhover(2)" (mouseleave)="starleave()"><i  class="icon ion-ios-star"></i></span>
                                    <span class="card__rate1" id="star3" (click)="starclick(3)" (mouseenter)="starhover(3)" (mouseleave)="starleave()"><i  class="icon ion-ios-star"></i></span>
                                    <span class="card__rate1" id="star4" (click)="starclick(4)" (mouseenter)="starhover(4)" (mouseleave)="starleave()"><i  class="icon ion-ios-star"></i></span>
                                    <span class="card__rate1" id="star5" (click)="starclick(5)" (mouseenter)="starhover(5)" (mouseleave)="starleave()"><i  class="icon ion-ios-star"></i></span>

                                    <a href="account/login " class="Rate">
                                        <i class="icon ion-md-checkmark"></i>
                                        <span class="span">Rate</span>
                                    </a>
                                </div>
                                <div *ngIf="LoggedIn" class="card__wrap" style="margin-top:10px;">
                                    <span class="card__rate_act1">
                                        Rated {{movie.rating}}/10 <i class="icon ion-ios-star"></i> </span>

                                </div>

                                <div *ngIf="!LoggedIn" class="card__wrap">
                                    <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>

                                </div>

                                <ul class="card__meta">
                                    <li>
                                        <span>Genre:</span>
                                        <span class="card__category">
                                            {{movie.genres}}
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Release year:
                                        </span> {{movie.release_date}}
                                    </li>
                                    <li>
                                        <span>
                                            Running time:

                                        </span> {{movie.Runningtime}} min
                                    </li>
                                    <li>
                                        <span>
                                            Language:
                                         </span>
                                        <a href="#">
                                            {{movie.Language}}
                                        </a>
                                    </li>
                                </ul>

                                <div class="card__description card__description--details">
                                    {{movie.description}}
                                </div>
                            </div>
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
            </div>
            <!-- end content -->

        </div>
    </div>

    <section class="content">
        <div class="content__head">
            <div class="container">
                <div *ngIf="done" class="row">
                    <!-- section title -->
                    <div class="col-12" style="margin-top: 50px;">
                        <h2 class="section__title">You may also like...</h2>
                    </div>
                    <!-- end section title -->


                    <!-- card -->
                    <div *ngFor="let mov of RMovies" class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="{{mov.url}}" alt="">
                                <a href="#" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title"><a href="#">{{mov.title}}</a></h3>
                                <span class="card__category">
                                
                            </span>
                                <span class="card__rate"><i class="icon ion-ios-star"></i>{{mov.rating}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->




                </div>

            </div>
        </div>
    </section>


</section>
<!-- end details -->